.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: height 0.1s ease-in-out;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font-size: var(--base-font-size-medium);
    color: var(--text-muted);
  }
}

.alert {
  border: 1px solid #ff7ab642;
  background-color: #ff4f9e14;
  padding: 14px;
  border-radius: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--text-muted);
}

[data-theme="light"] {
  .alert {
    border: 1px solid #C9E0F5;
    background-color: #DDEFFF;
    padding: 14px;
    border-radius: 16px;
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--text-muted);
  }
}

.icon {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--accent-hover);
  color: var(--accent);
}

.submit_button {
  width: 100% !important;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
