.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100dvh;
    width: 100%;
    box-sizing: border-box;
    padding-top: 20vh;
}

.brand__text {
    color: var(--text-muted);
    background-color: var(--brand-bg);
    border: 1px solid var(--brand-border-color);
    border-radius: 24px;
    padding: 8px 14px;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 20px;
}

.subtitle {
    color: var(--text-muted);
    font-size: 22px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.button__border {
    border: 1px solid var(--border-button-color);
}

.button__border {
    svg {
        color: var(--accent-soft);
    }
}

@media (max-width: 768px) {
    .brand__text {
        padding: 6px 12px;
        margin-bottom: 13px;
    }

    .title {
        margin-bottom: 18px;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .buttons {
        gap: 8px;
    }
}
