
.button {
  border-radius: 9999px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s,
    transform 0.15s;

  white-space: nowrap;
  width: fit-content;

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
  &:active {
    transform: scale(1.01);
  }
}

.primary {
  background-color: var(--accent);
  color: var(--text-secondary);
  font-weight: 700;

  &:not(:disabled):hover {
    background-color: var(--accent-soft);
  }
}

.secondary {
  background-color: var(--surface-raised);
  color: var(--text-primary);
  font-weight: 600;

  &:not(:disabled):hover {
    background-color: var(--accent-hover);
  }
}

.outline {
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--accent);
  font-weight: 600;

  &:not(:disabled):hover {
    border-color: var(--accent-soft);
    color: var(--accent-soft);
  }
}

.sm {
  padding: 8px 14px;
  font-size: var(--base-font-size-medium);
}

.md {
  padding: 12px 18px;
  font-size: var(--base-font-size);
}

.lg {
  padding: 16px 24px;
  font-size: var(--base-font-size-large);
}

@media (max-width: 768px) {
  .button {
    gap: 6px;
  }

  .sm {
    padding: 6px 12px;
    font-size: var(--base-font-size-small);
  }

  .md {
    padding: 10px 16px;
    font-size: var(--base-font-size-medium);
  }

  .lg {
    padding: 14px 20px;
    font-size: var(--base-font-size);
  }
}