.title {
  font-size: 28px;
}

.subtitle {
  color: var(--text-muted);
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
}

.button,
.removeButton {
  width: 100% !important;
}

.removeButton {
  color: var(--text-muted);

  &:not(:disabled):hover {
    border-color: #ff5c72;
    color: #ff5c72;
  }
}

.tabs {
  margin-top: 5px;
}
