.nav {
  display: flex;
  gap: 18px;
  margin-top: 35px;
}

.link {
  padding-bottom: 5px;
  font-size: 16px !important;

  &.active {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
  }
}

@media (max-width: 768px) {
  .nav {
    gap: 12px;
    margin-top: 25px;
  }

  .link {
    padding-bottom: 3px;
    font-size: 14px !important;
  }
}
