.button {
  padding: 11px !important;

  display: inline-flex;
  flex: 0 0 46px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-button-color);
  padding: 10px;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  box-sizing: border-box;

  svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
}
